* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
.col-12{
	background:url(../img/grupal.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:1000px;
}
.logo{
	margin-top:90px;
	padding:4px;
}
.boton{
	border-radius:5px;
	background-color:orange;
	margin-left:80px;
	padding:8px;
	display:inline-block;
	margin-top:80px;
}
nav{
	margin-top:80px;
}
a{
	color:#000;
	text-decoration:none;
	padding:6px;
}
section{
	width: 100%;
	padding:0 7%;
}
.foto{
	width:350px;
	margin:15px 5px;
	
}
footer{
	height:40px;
	background-color:#323230;
	color:white;
}
p{
padding: 10px 50px;
}